﻿
/*----------------------------------------------------------------------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    background: #F2F2F2;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 120px;
}

/* ----- ----- HEADER ----- ----- */
header {
    width: 100%;
    text-align: center;
    padding: 60px 0;
}

    header h1 {
        font-weight: normal;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    header h2 {
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        color: #919191;
    }

/* ----- ----- MAIN ----- ----- */
main {
    width: 100%;
}

    main nav {
        width: 100%;
        display: flex;
        margin-bottom: 60px;
    }

        main nav .btn-menu {
            display: inline-block;
            width: 65px;
            height: 65px;
            border: 1px solid #000;
            background: transparent;
            cursor: pointer;
            font-size: 28px;
            margin-right: 20px;
            transition: .3s ease all;
        }

            main nav .btn-menu:hover {
                border: 1px solid #828282;
                color: #828282;
            }

        main nav .banner {
            display: inline-block;
            width: 100%;
            background: url(../../img/banner.jpg);
            background-size: cover;
            text-align: center;
            height: 65px;
            line-height: 65px;
            font-size: 26px;
            font-weight: 300;
            color: #fff;
        }

    main .productos {
        display: flex;
        justify-content: space-between;
    }

        main .productos figure {
            max-width: 320px;
            box-shadow: 0px 3px 6px rgba(0,0,0,.16);
        }

        main .productos img {
            vertical-align: top;
            width: 100%;
        }

        main .productos figure figcaption a {
            background: #000;
            display: inline-block;
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #fff;
            height: 60px;
            line-height: 60px;
            padding: 0 20px;
            font-weight: 300;
        }

/* ------------------------- */
/* Pushbars: Estilos Generales */
/* ------------------------- */
.pushbar {
    background: #000;
    color: #fff;
    padding: 20px;
}

    .pushbar .btn-cerrar.derecha {
        text-align: right
    }

    .pushbar .btn-cerrar.izquierda {
        text-align: left
    }

    .pushbar .btn-cerrar button {
        background: none;
        color: #808080;
        border: none;
        cursor: pointer;
        font-size: 20px
    }

/* ----- ----- Pushbar: Menu de Navegacion ----- ----- */
.pushbar-menu a {
    display: block;
    color: #AAAAAA;
    padding: 20px 0;
    border-bottom: 1px solid rgba(112,112,112, .60);
    font-weight: 600;
    font-size: 18px;
    transition: .3s ease color;
}

    .pushbar-menu a:hover {
        color: #fff;
    }


/* ----- ----- Pushbar: Carrito de Compras ----- ----- */
.pushbar.pushbar-carrito {
    background: #000;
    width: 365px;
    font-size: 18px;
    font-weight: 300;
}

.pushbar-carrito .titulo {
    font-size: 22px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(112,112,112, .60);
    margin-bottom: 20px;
}

.pushbar-carrito .item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    /*border-bottom: 1px solid rgba(112,112,112, .60);*/
}

    .pushbar-carrito .item img {
        width: 100%;
        max-width: 85px;
    }

.pushbar-carrito .textos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end
}

    .pushbar-carrito .textos .nombre-item {
        color: #AAA;
    }

.pushbar-carrito .total {
    margin: 40px 0 20px 0;
    display: flex;
    justify-content: space-between
}

    .pushbar-carrito .total .precio-total {
        color: #AAA
    }

/* ----- ----- Pushbar: Productos ----- ----- */

/* ----- ----- Pushbar: Formulario Newsletter  ----- ----- */

/* ------------------------- */
/* MEDIA QUERIES */
/* ------------------------- */
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 30px;
        line-height: 30px;
    }

    header h2 {
        font-size: 16px;
        line-height: 16px;
    }

    main nav .banner {
        font-size: 14px;
    }

    main .productos {
        flex-direction: column;
        align-items: center;
    }

        main .productos figure {
            margin-bottom: 40px;
        }
}




@media screen and (max-device-width: 499px) {
    main nav .banner {
        font-size: 26px;
        height: 65px;
    }

    main nav .btn-menu {
        width: 65px;
        height: 65px;
    }

    header h1 {
        font-size: 40px;
    }

    header h2 {
        font-size: 24px;
    }

    main .productos {
        flex-direction: column;
    }

        main .productos figure {
            max-width: 100%;
            padding: 20px;
        }

    main nav {
        padding: 20px;
    }

    .span {
        font-size: 20px;
    }

    /*-------------------*/
    .pushbar .btn-cerrar button {
        font-size: 40px;
    }

    .pushbar-menu a {
        font-size: 18px;
        padding: 20px 0;
    }

    .pushbar.from_left {
        width: 60%;
    }

    .pushbar-carrito .titulo {
        font-size: 22px;
    }

    .pushbar.pushbar-carrito {
        font-size: 20px;
        width: 100%;
        z-index: 10000;
    }

    .pushbar-carrito .item img {
        max-width: 125px;
    }

    .pushbar-carrito .item {
        padding: 60px 0;
    }

    .pushbar-carrito .total {
        border-top: 1px solid white;
        padding-top: 60px;
        margin-top: -10px;
        padding-bottom: 50px;
    }

    /*.btn-cerrar {
        margin-top: 40px;
    }*/

}
