﻿@import url('https://fonts.googleapis.com/css?family=Lora:400,700i');

.circular-progress-bar {
    position: relative;
    margin: 0 auto;
    /*width: 200px !important;
    height: 200px !important*/
}

.progress-percentage, .progress-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px 60px;
}

.progress-percentage {
    font-size: 60px;
    transform: translate(-50%, -70%);
    font-weight: bold;
}

.progress-text {
    transform: translate(-50%, 30%);
    color: #585858;
    font-size: 21px;
}
